<h1>You have successfully registered.</h1>
<h3>You are currently the only resident of this building using the site. You have been assigned as the administrator of this building.</h3>
<a href="/dashboard">Take me to the dashboard</a>