<nav class="container">
    <h1>Welcome to the Dojo Activity Center!</h1>
    <h4>Hello @ViewBag.CurrentUser.FirstName!</h4>
    <div class="container d-flex justify-around">
        <a href="/NewPost" class="btn btn-lg btn-info m-3">Add New Post</a>
        <a href="/Logout" class="btn btn-lg btn-danger m-3">Logout</a>
    </div>
</nav>

<div class="container">Box 1</div>
<div class="container">Box 2</div>
