<nav class="navbar">
    <h1 class="display-4">Welcome to U-nit-E!</h1>
    <a href="/Logout" class="aButton btn btn-lg btn-danger m-3">Logout</a>
    </div>
</nav>
<div class="successText">
    <h1>You have been successfully registered!</h1>
    <h3>Your information has been sent to the builing administrator for confirmation! Once confirmed, you will be able to access the site.</h3>
</div>